$dark-blue : rgba(117, 16, 247, 1); //background section
$dark-pink: rgba(227, 27, 109, 1); //text and button
$light-cyan : rgba(4, 194, 201, 1); //section and icon, borders
$grayish-white: rgba(245, 245, 245, 1); //background ans text
$grayish-black: rgba(37, 41, 52, 1); //background footer and header
$dark-grayish-black:hsl(213, 27%, 7%); // footer social links section
$dark-blue: rgba(91, 89, 100, .1);
