@import 'reset';
@import 'colors';
@import 'mixins';

//variables
$pop: 'Poppins',
sans-serif;
$mirza: 'Mirza',
cursive;
//for borders for hero image-shape
$posi: -7rem;
$bor: 90px;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $grayish-white;
    @include flex-c;
    @include cc;
    overflow-x: hidden;
    position: relative;

    .top-layer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 3;
        background: rgba(0, 0, 0, 0.7);

        .inner {
            margin-top: 10rem;
            @include flex-r;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70%;
        }

        .container {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: $grayish-white $trans;

            button {
                position: absolute;
                cursor: pointer;
                color: white;
                border: none;
                background: $light-cyan;
                font-weight: 600;
                padding: .5rem 1rem;
                text-transform: uppercase;

                &:hover {
                    box-shadow: 0px 0px 3px;
                }
            }

            img {
                overflow-y: scroll;
                width: 140%;
            }
        }
    }

    .block-resume {
        display: block;
    }
}

.overflow {
    overflow-y: hidden;
}

header {
    @include flex-c;
    @include cc;
    width: 100%;
    height: 90vh;
    font-family: $pop;
    text-transform: capitalize;
    padding: 0 1rem;
    text-align: center;
    color: white;
    background: linear-gradient($dark-blue, $dark-blue), url(../image-project/background-hero.gif) no-repeat center;
    background-size: 550%;
    letter-spacing: 1px;
    line-height: 1.3;

    > * {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 1.7rem;

        span {
            font-weight: 400;
            color: $dark-pink;
        }
    }

    p {
        font-size: 1.2rem;
    }

    a {
        border: 2px solid white;
        background: transparent;
        color: white;
        height: 3rem;
        width: 10rem;
        @include button;
        font-size: .8rem;
        font-weight: 600;
        margin-top: 3rem;
        @include flex-r;
        @include cc;

        &:hover {
            background: $dark-pink;

            &::after {
                content: ">";
                vertical-align: middle;
                font-size: 1rem;
                color: white;
                animation: fade .5s ease-in forwards;
                margin: 0 .2rem;
            }
        }
    }
}

//animations
@keyframes fade {
    from {
        opacity: 0;
        transform: skewX(0deg);
    }

    to {
        opacity: 1;
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background: $dark-grayish-black;
    padding: .5rem 1rem;
    border-bottom: 5px solid $light-cyan;

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        @include flex-c;
        align-items: flex-end;

        a {
            margin-bottom: 2rem;
        }

        i {
            color: white;
            font-size: 2.2rem;
            cursor: pointer;

            &:hover {
                text-shadow: 0px 0px 1px white;
            }
        }

        .resume {
            display: none;

            a {
                text-transform: capitalize;
                @include flex-c;
                border: 1px solid;
                text-align: center;
                font-family: $pop;
                padding: .5rem;
                margin: .5rem 0;
                color: $grayish-white;

                &:hover {
                    background-color: $dark-pink;
                }
            }
        }

        .resume-block {
            display: block;
        }

        .display-mobile {
            width: 100%;
            height: 0rem;
            overflow: hidden;
            transition: height .2s linear;
            opacity: 0;

            .mobile-inner {
                height: 100%;
                @include flex-c;
                justify-content: space-around;
                align-items: center;
                padding: .5rem;

                a {
                    margin: .3rem 0;
                    color: $grayish-white;
                    font-family: $pop;
                    font-size: .9rem;
                    letter-spacing: 2px;
                    text-transform: capitalize;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .show {
            opacity: 1;
            height: 9rem;
            transition: height .2s, opacity .5s ease-in;
        }
    }
}

//about section
.about {
    background-color: $grayish-white;
    @include flex-c;
    @include cc;
    font-family: $pop;
    padding: 5rem 2rem;

    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
        @include border;
    }

    //skill cards section
    .about-inner {
        width: 100%;
        margin-top: 7rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem;
        line-height: 1.1;
        justify-items: center;

        //card
        .p-skills {
            text-align: center;
            color: $grayish-black;
            max-width: 13rem;
            text-transform: capitalize;

            p:nth-of-type(1) {
                font-weight: 600;
                padding: .7rem 0;
            }

            p:nth-of-type(2) {
                font-size: 13px;
                line-height: 1.5;
            }

            .icon {
                border-radius: .2rem;
                @include flex-r;
                @include cc;
                background-color: $light-cyan;
                height: 6rem;


                i {
                    color: $grayish-white;
                    font-size: 2.5rem;
                }
            }

        }
    }
}

// hero intro section
.intro {
    padding: 0 2rem;
    width: 100%;
    @include flex-c;
    @include cc;
    overflow: hidden;
    margin-bottom: 1rem;

    .hero-photo {
        max-width: 15rem;
        position: relative;
        scrllbar-color: red blue;

        img {
            width: 100%;
        }


        //border divs to make hexagon shape
        .shape {
            position: absolute;
            width: 0;
            height: 0;

            &:nth-of-type(1) {
                top: $posi;
                left: $posi;
                @include b($bor, $trans, $bor, $trans, $bor, $trans, $bor, $grayish-white);
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                top: $posi;
                right: $posi;
                @include b($bor, $trans, $bor, $trans, $bor, $grayish-white, $bor, $trans);
                transform: rotate(-45deg);

            }

            &:nth-of-type(3) {
                bottom: $posi;
                left: $posi;
                @include b($bor, $grayish-white, $bor, $trans, $bor, $trans, $bor, $trans);
                transform: rotate(45deg);
            }

            &:nth-of-type(4) {
                bottom: $posi;
                right: $posi;
                @include b($bor, $grayish-white, $bor, $trans, $bor, $trans, $bor, $trans);
                transform: rotate(-45deg);
            }

        }

    }

    .intro-text {
        margin-top: 2rem;
        text-align: center;
        color: $grayish-black;
        font-family: $mirza;
        line-height: 1.5;
        font-size: 1.1srem;

        h3 {
            font-size: 1.7rem;
            padding: 1rem 0;
        }

    }
}

//popup links -reach out to me
.contact-section {
    width: 11rem;
    position: relative;
    font-family: $pop;
    @include flex-c;
    @include cc;
    margin-bottom: 8rem;

    .contact {
        width: 100%;
        padding: 1rem;
        color: $light-cyan;
        cursor: pointer;

        &:hover {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border: 1px solid $light-cyan;
                bottom: .7rem;
                left: 1.1rem;
                animation: bb .3s ease-out forwards;
            }
        }
    }

    .contact-popup {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: -30%;
        width: 18rem;
        height: 8rem;

        .inner-popup {
            width: 100%;
            height: 100%;
            background-color: $grayish-black;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            grid-gap: 0;
            justify-items: center;
            align-items: center;
            border-radius: .5rem;
            padding-top: 1rem;

            i {
                color: $grayish-white;
                font-size: 1.7rem;
                cursor: pointer;

                &:hover {
                    text-shadow: 0px 0px 1px white;
                }
            }

            .close {
                cursor: pointer;
                @include flex-r;
                @include cc;
                width: 100%;
                height: 80%;
                grid-column: 1/-1;
                border-radius: 0 0 .5rem .5rem;
                color: $grayish-white;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

        }
    }

    .block {
        display: block;
        animation: contact .1s ease-out;
    }

}

@keyframes contact {
    from {
        left: 25%;
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }

    to {
        opacity: 1;
        left: -30%;
        width: 18rem;
        height: 8rem;
    }
}


.skills-cards {
    width: 90%;
    font-family: $pop;

    .card {
        background: white;
        padding: 2rem 1rem;
        @include flex-c;
        @include cc;
        text-align: center;
        box-shadow: 0px 5px 3px lightgray;

        &:first-child {
            border-radius: .3rem .3rem 0 0;
            border-bottom: 1px solid $grayish-white;
        }

        &:last-child {
            border-radius: 0 0 .3rem .3rem;
        }

        i {
            font-size: 2.5rem;
            margin: 1rem 0;
            color: $light-cyan;
        }

        h3 {
            font-size: 1rem;
            padding: .5rem 0;
            color: $dark-pink;
            font-weight: 600;
            text-transform: capitalize;
        }

        p {
            color: $grayish-black;
            font-size: 0.9rem;
            line-height: 1.5;
            margin: 1.5rem auto;

            &:nth-of-type(2) {
                text-transform: capitalize;
            }
        }

        .tools {

            p {
                line-height: .6;
                text-transform: capitalize;
            }
        }

        .skill {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            width: 70%;

            i {
                font-size: 2rem;

                @mixin icons {
                    margin: .2rem;
                    font-family: $mirza;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    vertical-align: bottom;
                }

                &:nth-last-of-type(4)::after {
                    content: "html";
                    @include icons;
                }

                &:nth-last-of-type(3)::after {
                    content: "css";
                    @include icons;
                }
            }
        }

    }
}

.project-section {
    margin: 8rem 0;
    width: 100%;
    font-family: $pop;

    .filter-menu {
        @include flex-c;
        @include cc;
        padding: 1.5rem 1rem;
        background-color: $grayish-black;
        color: $grayish-white;

        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.5rem;
            @include border;
        }

        .menu {
            max-width: 30rem;
            width: 100%;
            margin-top: 8rem;
            @include flex-r;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            z-index: 1;


            //red slider animation box 
            .slider {
                border-radius: .3rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 34%;
                height: 100%;
                background: $dark-pink;
                z-index: -1;
            }

            .activep1 {
                animation: slide-rightp1 .3s ease-in forwards;
            }

            .activep2 {
                animation: slide-rightp2 .3s ease-in forwards;
            }

            .activep3 {
                animation: slide-rightp3 .3s ease-in forwards;
            }

            a {
                padding: 0 1rem;
                font-size: .9rem;
                font-weight: 600;
                @include flex-r;
                @include cc;
                width: 100%;
                height: 2rem;
                text-transform: uppercase;

            }
        }
    }

    //project items section
    .items {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 0.5rem;
        margin-top: 1.5rem;
        padding: 0 .5rem;
        justify-items: center;

        //single card
        .item-card {
            width: 100%;
            max-width: 25rem;
            height: 14rem;
            overflow: hidden;
            filter: saturate(40%);
            transition: filter .7s ease-in;

            &:hover {
                filter: saturate(100%);
                transition: filter .2s ease-in;
            }

            &.scroll {
                overflow-y: scroll;
            }

            scrollbar-width: thin;
            scrollbar-color: rgba(0, 0, 0, 0.4) $trans;
            border-radius: .3rem;
            box-shadow: 0px 0px 10px gray;
            position: relative;

            img {
                width: 100%;
                border-radius: .3rem 0 0 .3rem;


                &.small {
                    height: 100%;
                    box-shadow: 0px 0px 10px lightgray;
                }
            }

            .scroll {
                position: absolute;
                top: 0;
                left: 0;
                margin: 1rem;
                background: rgba(0, 0, 0, 0.5);
                border-radius: .3rem;
                opacity: .5;

                &:hover {
                    opacity: 1;
                    text-shadow: 0px 0px 3px $grayish-white;
                    transition: opacity .3s ease-in;
                }

                i {
                    @include flex-r;
                    @include cc;
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: $grayish-white;
                }

            }

            .info {
                border-radius: .3rem;
                position: absolute;
                top: 0;
                right: 0;
                width: 3rem;
                height: 3rem;
                background: rgba(0, 0, 0, 0.5);
                margin: 1rem;
                opacity: .5;
                transition: opacity .5s ease-in;

                i.fa-eye {
                    @include flex-r;
                    @include cc;
                    width: 100%;
                    height: 100%;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $grayish-white;
                    cursor: pointer;
                }

                &:hover {
                    opacity: 1;
                    text-shadow: 0px 0px 2px white;
                    transition: opacity .3s ease-in;
                }


                .more {
                    display: none;
                    background: $grayish-black;
                    top: -1rem;
                    left: -5rem;
                    position: absolute;
                    height: 467%;
                    width: 300%;


                    .links {
                        height: 100%;
                        @include flex-c;
                        justify-content: space-around;
                        align-items: center;

                        a {
                            border: 1px solid;
                            width: 80%;
                            padding: 1rem;
                            color: $light-cyan;
                            cursor: pointer;
                            text-transform: capitalize;
                            text-align: center;
                            font-weight: 600;

                            i {
                                margin-right: .5rem;
                            }

                            &:hover {
                                text-shadow: 0px 0px 3px;
                                box-shadow: 0px 0px 3px, 0px 0px 3px inset;
                            }
                        }
                    }
                }

                .block {
                    display: block;
                    animation: eye-menu .3s ease-in;
                }

                .none {
                    animation: eye-menu-fade .3s ease-in;
                }
            }
        }

        .filter-animation {
            width: 5rem;
            height: 5rem;
            transition: width .5s height .5s ease-out;
        }
    }
}

@keyframes eye-menu {

    from {
        opacity: 1;
        left: 5rem;
    }

    to {
        left: -5rem;
    }
}

@keyframes eye-menu-fade {
    from {
        left: -5rem;
    }

    to {
        left: -10rem;
        opacity: 0;
    }
}


.email {
    margin-top: 3rem;
    background: $grayish-black;
    @include flex-c;
    @include cc;
    font-family: $pop;
    width: 100%;
    position: relative;
    margin-top: 10rem;

    //v shape
    &::before {
        position: absolute;
        top: -8rem;
        left: 0;
        width: 0;
        content: '';
        border-top: 8rem solid transparent;
        border-right: 50vw solid $grayish-black;
        border-left: 50vw solid $grayish-black;
    }

    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
        color: white;
        @include border;
        margin: 5rem 0;
    }

    p {
        font-size: .9rem;
        margin-bottom: 3rem;
        color: $light-cyan;
        text-transform: capitalize;
    }

    form {
        width: 90%;
        max-width: 30rem;
        @include flex-c;
        justify-content: center;
        margin-bottom: 6rem;
        position: relative;

        input {

            height: 2.5rem;
            border: none;
            background-color: $dark-grayish-black;
            margin-bottom: .5rem;
            padding: 0 1rem;
            color: $grayish-white;


            &:focus {
                outline: none;
            }

            &::placeholder {
                text-transform: capitalize;
                font-weight: 600;
                color: $grayish-white;
            }

            &[type='text']:first-child {
                text-transform: capitalize;
            }

            &[type="submit"] {
                cursor: pointer;
                width: 7rem;
                margin: .5rem 0;
                align-self: flex-end;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                background: $grayish-black;
                border: 2px solid;
                color: $grayish-white;

                &:hover {
                    background: $dark-pink;
                }
            }
        }

        textarea {
            height: 10rem;
            letter-spacing: 1px;
            padding: 1rem;
            color: $grayish-white;
            border: none;
            background-color: $dark-grayish-black;
        }

        .alert {
            align-self: center;
            display: none;
            width: 21rem;
            max-width: 25rem;
            height: 7rem;
            border-radius: .3rem;
            margin: 2rem 0;
            background: $dark-grayish-black;
            padding: .5rem;
            opacity: .8;
            color: transparent;

            p {
                text-align: center;
                font-weight: 600;
                padding: .5rem;
                margin: 0;


                i {
                    margin: 0 .5rem;
                    vertical-align: middle;
                    font-size: 1.5rem;
                    color: yellow;
                }
            }

        }

        .block {
            display: block;
            animation: alert .5s ease-in;
        }
    }
}

@keyframes alert {
    0% {
        opacity: 0;
        overflow: hidden;
        width: 1px;
        height: 2px;
        border-radius: 5rem;
    }

    30% {
        width: 8rem;
        height: 2px;
        border: 5rem;
    }

    50% {
        width: 18rem;
    }

    70% {
        height: 4rem;
    }

    80% {
        width: 21rem;
        height: 6rem;
        border-radius: 2rem;
    }

    100% {
        border-radius: .2rem;
        opacity: .8;
        overflow: hidden;
        height: 7rem;
        width: 21rem;
    }
}



footer {
    @include flex-c;
    @include cc;
    width: 100%;
    background-color: $dark-grayish-black;
    position: relative;
    padding-top: 2rem;

    .social-icons {
        margin: 3rem 0;
        width: 80%;
        padding: 1rem;
        @include flex-r;
        justify-content: space-evenly;

        a {
            opacity: .6;

            i {
                color: $grayish-white;
                font-size: 1.8rem;
            }

            &:hover {
                opacity: 1;
                text-shadow: 0px 0px 2px $grayish-white;
            }
        }

    }

    .top {
        position: absolute;
        @include flex-r;
        @include cc;
        top: -2rem;
        background-color: $dark-pink;
        width: 3rem;
        height: 4rem;
        font-size: 1.2rem;
        color: $grayish-white;
        border-radius: .1rem;


        &:hover {
            text-shadow: 0px 0px 2px $grayish-white;
            box-shadow: 0px 0px 2px $grayish-white;
        }
    }

    p {
        align-self: flex-end;
        opacity: .5;
        font-family: $mirza;
        color: $grayish-white;
        letter-spacing: 1px;
        padding: .5rem;
        text-transform: capitalize;

        span {
            color: $dark-pink;
        }
    }
}



@keyframes slide-rightp1 {
    0% {
        left: inherit;
        right: inherit;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slide-rightp2 {
    0% {
        opacity: 0;
        right: inherit;
        left: inherit;
    }

    100% {
        opacity: 1;
        left: 33%;
    }
}

@keyframes slide-rightp3 {
    0% {
        opacity: 0;
        right: inherit;
        left: inherit;
    }

    100% {
        opacity: 1;
        left: 66%;
    }
}


@keyframes bb {
    from {
        width: 0;
    }

    to {
        width: 8rem;
    }
}

@import 'media';
